.tb-list {
    display: table;
    width: 100%;
    font-size: 13px;
    color: #8094ae;
    border: 1px solid;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}

.tb-row {
    transition: background-color .3s, box-shadow .3s;
    /* display: table-row; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.tb-col {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem .5rem;
}

.border-bottom-row {
    position: relative;
}

.border-bottom-row::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -2px;
    height: 0;
    border-top: 1px solid rgba(166, 172, 181, 0.797);
}

.border-bottom-row-item {
    position: relative;
}

.border-bottom-row-item::after {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -2px;
    height: 0;
    border-top: 1px solid rgba(192, 195, 198, 0.514);
}